body {
    background-color: lightgrey;
}

#newTrain {
    border: 1px solid rgb(23,162,184);
    padding: 25px;
    border-radius: 15px;
    background-color: white;
}

#currentTrains {
    border: 1px solid rgb(23,162,184);
    padding: 25px;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 4%;
}

#header {
    border-radius: 15px;
}

#newRow {
    text-align: center;
}
